.nav1 {
    color:white;
}

.container {
    background-image: url ("/images/bg.jpg");
    background-repeat:repeat;
}
.jumbotron {
    clear:both; 
    background:black; 
    color:white; 
    margin-bottom:4px; 
    box-shadow: 1px 1px 2px 1px grey; 
}
.blue {
    background:black;
    color:white;  
	box-shadow: 1px 1px 2px 1px grey;
}
.border {
	    border-radius: 25px;		
}
.top {
    clear:both; 
}
.margin {
    margin-top:1%;
    margin-left:1%;
    margin-right:1%;
}
transport {
    height:350px; 
    width:550px; 
}
nightlife { 
    height:350px; 
    width:550px; 
}
livingexpenses { 
clear:both;
}
.frontimages {
    height:100%;
    width:100%;
	border-style:solid; 
	border-color:grey;
	border-width:2px;

}
}
.floatleft {
    float:left;
}
.floatright {
    float:right; 
}
.frontdivs {
    height:70%;
    width:70%;
    margin-left:15%;
    margin-right:15%;
}

.frontimages:hover {
    opacity:0.5;
}

#footer {
    height:50px;
    margin-top: 1%;
}